.containerPR {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 400px;
  border-radius: 5px;
  border: grey solid 2px;
  margin: 80px auto;

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .avatar {
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      border: grey solid 2px;
    }
    .info_data {
      border: grey solid 2px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }
}