.header {
  border: grey solid 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  bottom: 0;
  .logo {
    border: grey solid 2px;
    width: 200px;
  }
  .info {
    border: grey solid 2px;
    width: 150px;
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  .info_data {
    border: grey solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: rgb(206, 144, 144) solid 2px;
  }
  }
}